/* Declaring color pallete */
:root {
    --background: #FBC490;
    --foreground: #F67B50;
    --accent: #A82810;
    --complementary: #FBAA60;
}

body {
    margin: 0px;
    font-family: 'Open Sans';
    background-color: var(--background);
}

.wrapper {
    width: 334px;
    margin: 8px 0px 8px 0px;
}

.topbar {
    height: 50px;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: space-between;
    
    background-color: var(--accent);
}

.topbar h1 {
    margin: 0px 10px;
    color: var(--complementary);
}

.topbar button {
    margin: auto 5px;
    height: 100%;
    font-size: 20px;
    background-color: var(--complementary);
    border: 2px solid var(--foreground);
}
/* Styling all books */

.booksList {
    margin: 16px;
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, 250px);

}

.book {
    width: 250px;
    height: 300px;
    padding-top: 10px;
    background-color: var(--foreground);
    border: 2px solid var(--accent)
}

.book * {
    text-align: center;
}

.inline {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.inline * {
    margin: 0
    !important;
}

.book button {
    width: 100px;
    height: 25px;
    background-color: var(--accent);
    color: var(--complementary);
    border: 2px solid var(--complementary);
}

/* Form styling */
.inputForm{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--accent);
    color: var(--complementary);

    padding-bottom: 20px;
}

.inputForm *{
    text-align: center;
    margin: 10px;
}

.inputForm input {
    display: block;
    margin: auto;
}

.inputForm button {
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

#closeButton {
    position: absolute;
    top: 4px;
    right: 4px;
    
    border: none;
    background-color: var(--complementary);
}

#signOutBtn {
    padding-left: 17%;
    padding-right: 16%;
}